<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/portfolio-512_512-white.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This site was creaed by <a href="/about">Elad Ron.</a></br>
                It uses data from <i>mapBox</i> and <i>weatherStack</i>.
            </p>
            <img class="portrait" src="/img/Work-Profile.jpg">
        </div>
        {{>footer}}
    </body>
</html>