<!DOCTYPE html>
<html>
    <head>
        <title>My Portfolio</title>
        <link rel="icon" href="/img/portfolio-512_512-white.png">
        <link rel="stylesheet" href="/css/styles.css" >
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Welcome to my node-app portfolio.</p>
        </div>
        
        {{>footer}}
    </body>
</html>