<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/portfolio-512_512-white.png">
        <title>Notes</title>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <form id="notesForm">
                <input placeholder="Add note...">
                <button>search</button>
                <p>
                    This is the notes app
                </p>
            </form>
        </div>
        {{>footer}}
        <script src="/js/notesApp.js"></script>
    </body>
</html>