<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/portfolio-512_512-white.png">
        <title>404</title>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class="main-content">
             {{>header}}
              <img class="img404" src={{imgSrc}}>
        </div>
        {{>footer}}
    </body>
</html>