<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body id="404" 
          style="background-image: url(/img/404.jpg);  
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-color: rgb(244,244,244);"
    >
    </body>
</html>