<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        {{>header}}
        <p>please browse help section for further assistance</p>
        {{>footer}}
    </body>
</html>